<div class="flex w-full justify-center py-1.5">
    <ul class="flex menu bg-base-200 menu-horizontal rounded-box">
        <li>
          <a routerLink="students" routerLinkActive="bg-secondary">
            <i class="fa-solid fa-children"></i>
            Alumnos
          </a>
        </li>
        <li>
          <a routerLink="educators" routerLinkActive="bg-secondary">
            <i class="fa-solid fa-user-graduate"></i>
            Educadores
          </a>
        </li>
      </ul>
</div>