<div
  class="drop-zone border-2 border-dashed border-gray-300 bg-white rounded-lg p-8 flex flex-col items-center justify-center hover:border-blue-500 transition duration-300"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <!-- Ícono centrado -->
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="w-16 h-16 text-gray-400"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <!-- Ejemplo: ícono de carga -->
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M4 16v2a2 2 0 002 2h12a2 2 0 002-2v-2m-4-4l-4-4m0 0L8 8m4-4v12"
    />
  </svg>

  <!-- Texto descriptivo -->
  <p class="mt-4 text-lg font-semibold text-gray-700">
    {{ listLegend }}
  </p>

  <!-- Input para seleccionar archivos (oculto) -->
  <input type="file" [multiple]="true" hidden #fileInput />

  <!-- Botón para abrir el diálogo de selección -->
  <button
    type="button"
    class="mt-4 bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
    (click)="fileInput.click()"
  >
    {{ buttonContent }}
  </button>
</div>

@if(files.length > 0){
<div class="mt-6">
  <h4 class="text-xl font-semibold mb-2 text-center">{{ listLegend }}</h4>
  @if(listExist){
  <ul class="list-disc list-inside text-center">
    @for (file of files; track file) {
    <li class="text-gray-700">{{ file.name }}</li>
    }
  </ul>
  }
</div>
<div class="flex flex-row">
  @for (image of tempFiles(); track image) {
  <img [src]="image" alt="" class="w-50 ml-auto mr-auto rounded-lg mt-3" />
  }
</div>
<div class="flex flex-row justify-end mt-5" (click)="onSubmitDocs()">
  <button class="btn btn-accent">Guardar</button>
</div>
}
