<ng-container>
  <div
    class="rounded-3xl bg-gradient-to-br from-purple-100 to-pink-100 h-full flex items-center justify-center"
  >
    <div
      class="text-center p-6 shadow-2xl rounded-2xl bg-white/80 backdrop-blur-md max-w-md"
    >
      <i class="fa-solid fa-baby animate-bounce text-primary text-6xl mb-4"></i>
      <h1 class="text-4xl font-bold mb-2 text-secondary">
        ¡Estamos Creciendo!
      </h1>
      <p class="mb-4">
        Nuestra aplicación estará lista muy pronto. Mientras tanto, diviértete
        con nuestros amiguitos.
      </p>
      <div class="mb-6">
        <span id="countdown" class="text-2xl font-mono"></span>
      </div>
      <button
        class="btn btn-primary btn-lg animate-pulse"
        (click)="launchConfetti()"
      >
        Celebrar un Poco
      </button>
    </div>
  </div>
</ng-container>
