<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <!-- <th>
            <label>
              <input type="checkbox" class="checkbox" />
            </label>
          </th> -->
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Aula</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      @for (student of studentService._students(); track student.hash) {
      <tr>
        <!-- <th>
              <label>
                <input type="checkbox" class="checkbox" />
              </label>
            </th> -->
        <td>
          <div class="flex items-center gap-3">
            <div class="avatar">
              <div class="mask mask-squircle h-12 w-12">
                <!-- src="https://img.daisyui.com/images/profile/demo/2@94.webp" -->
                <!-- TODO tenemos que poner la direccion de produccion -->
                <img [src]="BASE_URL + student.imageURL" alt="ImageProfile" />
              </div>
            </div>
            <div>
              <div class="font-bold">
                {{ student.name }}
              </div>
              <!-- <div class="text-sm opacity-50">United States</div> -->
            </div>
          </div>
        </td>
        <td>
          <!-- <br />
              <span class="badge badge-ghost badge-sm">Desktop Support Technician</span> -->
        </td>
        <td>{{ student.classroomDto.classroomName }}</td>
        <th>
          <a class="btn btn-secondary" [routerLink]="[student.hash]"
            >Detalles</a
          >
          <button
            class="mx-1 btn btn-accent"
            onclick="uploadFile.showModal()"
            (click)="studentSelection(student)"
          >
            <i class="fa-solid fa-image"></i>
          </button>

          <button
            class="mx-1 btn btn-secondary"
            (click)="deleteStudentByHash(student.hash!)"
          >
            <i class="fa-solid fa-eraser"></i>
          </button>
        </th>
      </tr>
      }

      <!-- foot -->
    </tbody>

    <tfoot>
      <tr>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Aula</th>
        <th></th>
      </tr>
    </tfoot>
  </table>
</div>

<app-upload-file
  [isMultiple]="false"
  [description]="'Arrastra la imagen de perfil'"
  [acceptedFile]="'image/*'"
  [listExist]="false"
  [buttonContent]="'Selecciona imagen de perfil'"
  [listLegend]="'Imagen Seleccionada'"
/>
@if(hasError()){
<div
  role="alert"
  class="alert alert-success animate-fadeIn fixed bottom-5 right-5 w-52"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 text-green-500 stroke-current"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M5 13l4 4L19 7"
    />
  </svg>

  <span>Ocurrio un error.</span>
</div>
} @if(wasDelete()){
<div
  role="alert"
  class="alert alert-warning animate-fadeIn fixed bottom-5 right-5 w-52"
>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    class="h-6 w-6 text-yellow-500 stroke-current"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M10.29 3.86L1.82 18a1 1 0 00.86 1.5h18.64a1 1 0 00.86-1.5L13.71 3.86a1 1 0 00-1.72 0z"
    />
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      stroke-width="2"
      d="M12 9v4m0 4h.01"
    />
  </svg>

  <span>Eliminado correctamente.</span>
</div>
}
